
body{      
  font-family: 'Montserrat';     
  box-sizing: border-box;
  margin: 0 auto;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* le logo */
#logo{
  margin-left: 1vw;
}

.dropdown-item:hover{
  background: rgba(0, 0, 0, 0.2) !important; 
}

/* l'image du header */
.image_header{
  background-size: cover;   
  position: relative;
  padding: 0;
  box-shadow: 2px 2px 5px;  
}

/* la barre de recherche */
.search{
  position: absolute;
  background: rgba(0, 0, 0, 0.2);         
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  top: 18%;
  right: 3%; 
  width: 60%;
  padding: .5rem;
  margin: 0;        
}
.dateclass{
  width: 100%;
}
.dateclass::before{
  width: 100%;
  content: attr(placeholder);
}
.dateclass{
  width: 75%;
  content:"";
}

.rechercher{
  margin: 0;
  padding: 0;
}

/* Ancre */
.fa-arrow-circle-up{
  color: hsl(50, 94%, 25%);
     
}
.btn-ancre{
  box-shadow: 2px 2px 5px darkslategray;
  font-size: 200%;
  position: fixed;
  left: 115rem;
  top: 55rem;
 }

footer{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);    
  padding: 0; 
  position: relative;   
}

.card{
  box-shadow: 2px 2px 5px darkslategray;
  border-radius: 5%; 
}
.card-title{
  color: hsl(50, 94%, 25%);
  text-shadow: 2px 2px 5px darkslategray;
  font-weight: bold; 
}

.card:hover{
  box-shadow: 2px 2px 5px darkslategray;
  border-radius: 10%;
  transform: scale(1.1);
  transition: 1.5s; 
}
/* .card .card-img-top:hover {
  transform: scale(1.2);
  transition: 1.5s;
  box-shadow: 2px 2px 5px darkslategray;
  border-radius: 10%;
}  */

.card-img-top{
  border-radius: 5%;
  /* transform: scale(.5);  */
} 
/* les cards description villas */

*, *::before, *::after {
  box-sizing: border-box;
}
/* body {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: hsl(51, 100%, 5%);
} */
.card-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}
.tile-wrap {
  display: inline-block;
  position: relative;
  margin: 20px;
  overflow: hidden;
  border: solid 4px hsl(51, 100%, 35%);
  box-shadow: 2px 2px 5px;
}
.tile-image {
  display: block;
  width: 400px;
  height: 200px;
  transition: .7s;
  scale: (.8);
}
.tile-wrap:hover .tile-image {
  transform: scale(1.15);
  -webkit-filter: grayscale(.7);
  filter: grayscale(.7);
}
.tile-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 .8em;
  background: hsl(51, 100%, 92%);
  opacity: 0.65;
  /* color: #BB3E92; */
  /* color: hsl(45, 33%, 2%); */
  color: black;
  transition: transform .5s;
  transform: translateY(110%);
  box-shadow: 0 -4px 33px rgba(0,0,0,.7);
}
.tile-wrap:hover .tile-text {
  transform: translateY(0);
}
.tile-title {
  font-size: 1.3em;
  transform: translateY(100%);
  transition: transform .5s .15s ease-out;
}
.tile-wrap:hover .tile-title {
  transform: none;
}
.tile-description {
  transform: translateY(100%);
  transition: transform .5s .3s ease-out;
}
.tile-wrap:hover .tile-description {
  transform: none;
}

/* slider 3D */
.connexion{    
  background: url(../../images/background.jpg);   
  background-size: cover;
  background-position: center center;
  height: 90vh;      
}

/* Bouton d'inscription et de connexion */

.btn{
  background: rgb(255, 145, 0) !important;
  border:rgb(172, 99, 5) !important;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 3rem; 
}
.btn:hover{
  background: rgba(0, 0, 0, 0.4) !important;
}

/* page inscription */

.inscription{
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-position: center center;  
  
}
/* formulaire d'inscription et de connexion */

.form_connexion_inscription{
  border: 1px solid grey;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px grey;
}
h1{
  font-style: italic; 
  color: hsl(37, 58%, 61%);
  text-shadow: 2px 2px 5px rgb(27, 27, 27);
  /* font-family: inherit;  */
}

.map iframe{
  box-shadow: 2px 2px 5px grey;
  background-position: center center;

}
.reservation{
  box-shadow: 2px 2px 5px grey;
  height: 5rem; 
  margin: 0;
  padding: 0;
  
}
.form_reservation{
  border-radius: 5%; 
  
 }
.form_reservation .btn:hover{
transform: scale(1.2);
background: rgb(37, 35, 35) !important;
transition: .7s
} 
/* .form_reservation .btn:hover{
/* background: grey; */
/* }  */

.fa-suitcase-rolling{
  font-size: 200%;
  /* color: grey; */
}
.comfort{
  box-shadow: 2px 2px 5px rgb(190, 181, 181);
  /* margin-left: 10px; */
}
.comfort img{
  width: 10%;
  color: rgba(0, 0, 0, 0.1);
  
}
h5{
  font-weight: bold;
}
.inscription .connexion label{
  /* font-weight: bold; */
  color: bisque;
}
.form_connexion_inscription{
  color: bisque;
}

.form1 label{
color: hsl(37, 95%, 22%);
font-weight: bold;

}
table{
  background-color: rgb(219, 201, 179); 
}
.formulaire_ajout_location{
  background-color: rgb(194, 170, 140);
}
.admin{
  margin-top: 5rem !important;
}
.contact{
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgb(190, 181, 181);
}

/* la page contact */
.contact p{
  display: inline-block;
  margin-left: 2rem;
  color: bisque;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: .5rem; 
  /* box-shadow: 2px 2px 5px rgb(190, 181, 181); */
  text-shadow: 2px 2px 5px rgb(27, 27, 27);
  text-align: center;
}

/* la page reservation */

.reservation-form{
  background-color: rgb(177, 158, 128);
  padding-bottom: 2rem;
}

.rs a{
text-decoration: none;
color: rgb(93, 87, 87) ;
font-size: 2.5rem;
/* color: grey; */
}
.suivez-nous{
  font-size: 1.5rem;
  color: hsl(37, 95%, 22%); 
}
/* .rs a i{
  color: grey ;
} 



