
body{      
    font-family: 'Montserrat';     
    box-sizing: border-box;
    margin: 0 auto;
}

.logo{
    margin-left: 1vw;
}
.image_header{
    background-size: cover;   
    position: relative;
    padding: 0;
    box-shadow: 2px 2px 5px;
    
    
}

.search{
    position: absolute;
    background: rgba(0, 0, 0, 0.2);         
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    top: 14%;
    right: 2%; 
    width: 60%;
    padding: .5rem;        
}

/* .navbar-expand-lg{
    border-inline-start: solid rgb(170, 167, 167) 1px;    
}  */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);    
    padding: 0;    
}

.card{
    box-shadow: 2px 2px 5px darkslategray;
    border-radius: 5%; 
}

.card:hover{
    box-shadow: 2px 2px 5px darkslategray;
    border-radius: 10%;
    transform: scale(1.1);
    transition: 1.5s; 
}
/* .card .card-img-top:hover {
    transform: scale(1.2);
    transition: 1.5s;
    box-shadow: 2px 2px 5px darkslategray;
    border-radius: 10%;
}  */
 
.card-img-top{
    border-radius: 5%;
    /* transform: scale(.5);  */
} 
/* les cards description villas */

*, *::before, *::after {
    box-sizing: border-box;
  }
  /* body {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: hsl(51, 100%, 5%);
  } */
  .card-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .tile-wrap {
    display: inline-block;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border: solid 4px hsl(51, 100%, 35%);
    box-shadow: 2px 2px 5px;
  }
  .tile-image {
    display: block;
    width: 400px;
    height: 200px;
    transition: .7s;
    scale: (.8);
  }
  .tile-wrap:hover .tile-image {
    transform: scale(1.15);
    -webkit-filter: grayscale(.7);
    filter: grayscale(.7);
  }
  .tile-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .8em;
    background: hsl(51, 100%, 92%);
    /* color: #BB3E92; */
    color: hsl(51, 100%, 35%);
    transition: transform .5s;
    transform: translateY(110%);
    box-shadow: 0 -4px 33px rgba(0,0,0,.7);
  }
  .tile-wrap:hover .tile-text {
    transform: translateY(0);
  }
  .tile-title {
    font-size: 1.3em;
    transform: translateY(100%);
    transition: transform .5s .15s ease-out;
  }
  .tile-wrap:hover .tile-title {
    transform: none;
  }
  .tile-description {
    transform: translateY(100%);
    transition: transform .5s .3s ease-out;
  }
  .tile-wrap:hover .tile-description {
    transform: none;
  }

  /* slider 3D */
  .connexion{    
    background: url(../images/background.jpg);   
    background-size: cover;
    height: 90vh;
    padding-top: 5rem
        
  }
  .btn{
    background: rgb(255, 145, 0);
    border:rgb(172, 99, 5);
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 3rem; 
  }
  .inscription{
    background: url(../images/background.jpg);
    background-size: cover;
    height: 90vh;
  }
  .form_connexion{
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px grey;
  }
  h1{
    font-style: italic; 
    color: hsl(51, 100%, 35%);
    /* font-family: inherit;  */
  }
  .titre-connexion{
    font-weight: bolder;
    color: hsl(180, 11%, 95%);
  }
  .label{
    font-weight: bold;
  }

  
